.navbar {
  background: #070829;
  color: #fff;
  padding: 1rem 3rem; }
  .navbar .row {
    width: 100%; }
    .navbar .row .col-6, .navbar .row .col-12 {
      margin: 0;
      padding: 0; }
  .navbar .navbar-toggler {
    margin-right: 1rem; }
    .navbar .navbar-toggler img {
      width: 30px; }
  .navbar .navbar-brand {
    width: 180px; }
  .navbar .sup-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .navbar .sup-nav .navbar-social {
      background: #FF73FF;
      border-radius: 50%;
      color: #070829;
      margin: 0 auto;
      width: 35px;
      height: 35px;
      display: flex;
      margin: 0 .7rem;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar .sup-nav .navbar-social:hover {
        background: #FF6D4F; }
  .navbar .navbar-nav .nav-item {
    margin-left: 1.5rem; }
    .navbar .navbar-nav .nav-item .nav-link {
      cursor: pointer;
      color: #FF73FF;
      font-family: "Fira Sans Condensed", sans-serif;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .navbar .navbar-nav .nav-item:hover .nav-link {
      color: #FF6D4F; }

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: 160px; } }
@media (max-width: 414px) {
  .navbar {
    padding: 1rem 2rem; }
    .navbar .navbar-toggler img {
      width: 20px; }
    .navbar .navbar-brand {
      width: 120px; }
    .navbar .sup-nav .navbar-social {
      width: 25px;
      height: 25px;
      margin: 0 .5rem;
      font-size: 16px; } }
.counter {
  margin-top: 11rem;
  text-align: center;
  text-transform: uppercase;
  padding: 5rem;
  background-image: url("../img/counter_bg.jpg");
  font-family: "Fira Sans Condensed", sans-serif; }
  .counter .row {
    background: #070829;
    padding: 2rem;
    position: relative; }
    .counter .row .pink-line {
      position: absolute;
      width: 1px;
      height: 80%;
      background: #FF73FF;
      top: 50%;
      transform: translateY(-50%);
      left: 50%; }
    .counter .row .faltan, .counter .row .noviembre {
      font-size: 40px;
      color: #FF6D4F;
      margin: 0;
      font-weight: 400;
      letter-spacing: 10px; }
    .counter .row .counter-box #getting-started {
      font-family: "Playfair Display SC", serif;
      font-size: 70px;
      color: #56DFAF; }
    .counter .row .counter-box .time {
      margin: 10px 0;
      display: flex;
      justify-content: center; }
      .counter .row .counter-box .time span {
        display: block;
        width: 130px;
        color: #F1A21C;
        font-weight: 600; }
    .counter .row .counter-box .btn-inscribe {
      font-size: 20px;
      background: #FF73FF;
      margin-top: 20px;
      padding: .2rem 1rem;
      text-transform: uppercase;
      color: #070829;
      font-weight: 600;
      border-radius: none; }
    .counter .row .description-box .edicion {
      color: #F1A21C;
      letter-spacing: 8px;
      font-weight: 600;
      margin-bottom: 1.2rem; }
    .counter .row .description-box .ornamental {
      color: #fff;
      font-size: 60px;
      font-family: "Playfair Display", serif;
      margin-bottom: 1.2rem; }
    .counter .row .description-box .date {
      font-size: 40px;
      margin-top: 1.2rem;
      font-family: "Playfair Display", serif;
      color: #56DFAF; }
      .counter .row .description-box .date .line {
        color: #F1A21C;
        margin: 0 .5rem; }
      .counter .row .description-box .date .year {
        color: #00B0FF; }

@media (max-width: 768px) {
  .counter {
    margin-top: 8rem;
    background-size: cover; }
    .counter .row {
      padding: 1rem; }
      .counter .row .pink-line {
        width: 80%;
        height: 1px;
        transform: translateX(-50%); }
      .counter .row .counter-box {
        margin-bottom: 1rem; } }
@media (max-width: 414px) {
  .counter {
    margin-top: 8.5rem;
    padding: 2rem; }
    .counter .row .pink-line {
      top: 52.5%; }
    .counter .row .faltan, .counter .row .noviembre {
      font-size: 25px; }
    .counter .row .counter-box #getting-started {
      font-size: 50px; }
    .counter .row .counter-box .time span {
      width: 90px; }
    .counter .row .counter-box .btn-inscribe {
      font-size: 16px; }
    .counter .row .description-box .edicion {
      font-size: 16px;
      margin-bottom: .8rem; }
    .counter .row .description-box .ornamental {
      font-size: 36px;
      margin-bottom: .8rem; }
    .counter .row .description-box .date {
      font-size: 30px;
      margin-top: .8rem; } }
.titulo {
  text-align: center;
  font-size: 18pt;
  color: #131C51;
  font-family: "Fira Sans Condensed", sans-serif; }
  .titulo .texto_titulo {
    color: #00B0FF;
    font-size: 61pt;
    line-height: 100px; }
    .titulo .texto_titulo span {
      font-size: 75pt; }

.formulario {
  font-size: 14pt;
  color: #131C51;
  font-family: "Fira Sans Condensed", sans-serif; }
  .formulario input {
    border-radius: 0%;
    border-color: #131C51; }
  .formulario select {
    border-radius: 0%;
    border-color: #131C51; }
  .formulario textarea {
    border-radius: 0%;
    border-color: #131C51; }
  .formulario .borde {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10%; }
  .formulario .boton {
    background: #F1A21C;
    color: #131C51;
    border: none;
    font-size: 18pt; }

@media (max-width: 414px) {
  .titulo {
    font-size: 14pt; }
    .titulo .texto_titulo {
      color: #00B0FF;
      font-size: 25pt;
      line-height: 58px; }
      .titulo .texto_titulo span {
        font-size: 35pt; }

  .formulario {
    font-size: 10pt; }
    .formulario .boton {
      font-size: 14pt; } }
.manifiesto {
  background: #FFDD4C;
  text-transform: uppercase;
  text-align: center;
  padding: 4rem;
  font-family: "Fira Sans Condensed", sans-serif; }
  .manifiesto .content h2 {
    font-size: 50px;
    font-weight: 700;
    color: #FF73FF;
    letter-spacing: 6px; }
  .manifiesto .content img {
    width: 100px;
    margin: 3rem 0; }
  .manifiesto .content p {
    font-size: 24px;
    color: #131C51;
    margin: 0; }

@media (max-width: 414px) {
  .manifiesto {
    padding: 1rem; }
    .manifiesto .content h2 {
      font-size: 40px; }
    .manifiesto .content img {
      margin: 2rem 0; }
    .manifiesto .content p {
      font-size: 22px;
      line-height: 26px; } }
.contact {
  text-align: center;
  margin: auto;
  font-family: "Fira Sans Condensed", sans-serif; }
  .contact .title {
    color: #FF6D4F;
    font-size: 40pt;
    line-height: 50px; }
    .contact .title span {
      font-size: 60pt; }
  .contact .parrafo {
    color: #131C51;
    font-size: 18pt;
    line-height: 30px; }

/*# sourceMappingURL=styles.css.map */
