.titulo{
    text-align: center;
    font-size: 18pt;
    color: $oh-blue;
    font-family: $fira;
    .texto_titulo{
        color: $tx-blue-two;
        font-size: 61pt;
        line-height: 100px;
        span{
            font-size: 75pt;
        }
    }
}
.formulario{
    font-size: 14pt;
    color: $oh-blue;
    font-family: $fira;
    input {
        border-radius: 0%;
        border-color: $oh-blue;
    }
    select{
        border-radius: 0%;
        border-color: $oh-blue;
    }
    textarea{
        border-radius: 0%;
        border-color: $oh-blue;
    }
    .borde{
        border-bottom: 2px solid #cccccc;
        padding-bottom: 10%;
    }
    .boton{
        background: $tx-yellow;
        color: $oh-blue;
        border: none;
        font-size: 18pt;
    }
}
@media(max-width:414px) {
    .titulo{
        font-size: 14pt;
        .texto_titulo{
            color: $tx-blue-two;
            font-size: 25pt;
            line-height: 58px;
            span{
                font-size: 35pt;
            }
        }
    }
    .formulario{
        font-size: 10pt;
        .boton{
            font-size: 14pt;
        }
    }
}