.section-register{
    background: $oh-yellow;
    padding: 4rem;
    .content{
        text-align: center;
        .btn-inscribe{
            background: $oh-purple;
            color: #fff;
            font-size: 50px;
            font-family: $fira;
            font-weight: 700;
            text-transform: uppercase;
            padding: .8rem 4rem;
            text-decoration: none;
            transition: .2s;
            &:hover{
                background: #4901a0;
            }
        }
    }
}
@media(max-width:636px){
    .section-register{
        padding: 3rem;
        .content{
            text-align: center;
            .btn-inscribe{
                font-size: 40px;
                padding: .8rem 2rem;
            }
        }
    }
}

@media(max-width:470px){
    .section-register{
        padding: 1rem;
        .content{
            text-align: center;
            .btn-inscribe{
                font-size: 30px;
                padding: .8rem 2rem;
            }
        }
    }
}
@media(max-width:336px){
    .section-register{
        padding: 0rem;
        .content{
            .btn-inscribe{ font-size: 25px; }
        }
    }
}