.contact{
    text-align: center;
    margin: auto;
    font-family: $fira;
    .title{
        color: $oh-orange;
        font-size: 40pt;
        line-height: 50px;
        span{
            font-size: 60pt;
        }
    }
    .parrafo{
        color: $oh-blue;
        font-size: 18pt;
        line-height: 30px;
    }
}