$bg-blue:#070829;
$oh-blue: #131C51;
$tx-blue-two: #00B0FF;
$oh-pink: #FF73FF;
$oh-orange: #FF6D4F;
$tx-yellow: #F1A21C;
$oh-yellow: #FFDD4C;
$oh-green: #56DFAF;
$oh-purple: #6200DA;

$playfair: 'Playfair Display', serif;
$fira:'Fira Sans Condensed', sans-serif;
$playfair-sc: 'Playfair Display SC', serif;

@import 'header';
@import 'countdown';
@import 'announcement';
@import 'manifiesto';
@import 'contact';
